/* Error: expected "{".
 *     ,
 * 151 |   @include spaceAround;
 *     |                       ^
 *     '
 *   styleComponents\_Main.scss 151:23  @import
 *   index.scss 12:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 151 \2502    @include spaceAround;\d\a     \2502                        ^\a     \2575 \a   styleComponents\\_Main.scss 151:23  @import\a   index.scss 12:9                    root stylesheet';
}
