@charset "UTF-8";

/* General Settings */
:root {
  --bg: '';
  --bg2: '';
  --bg3: '';
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Settings */


/* Main Settings */
main {
  background: var(--bg);

  width: 100%;
}

main > div {
  width: 80%;
}

/* Intro Section */
section#intro {
  margin-top: 150px;

  display: flex;
  align-items: center;
}

/* Sections */


/* Footer Settings */
