@charset "UTF-8";

/* General Settings */

:root {
  --bg: rgb(131, 29, 153);
  --bg2: rgb(188, 54, 218);
  --bg3: rgb(242, 181, 13);
  --bg4: rgb(65, 0, 98);

  --shadow: rgba(0, 0, 0, 0.295);
}

/* Main Settings */


/* Intro Section */
section#intro {
  font-size: 10em;
  letter-spacing: 1.01em;
}

/* Products Section */