// Intro Section
section#introAbout {
  text-align: center;

  h1 {
    font: 900 5em $mainFont;
  }

  p {
    width: 100%;
  }
}

// Cases Section
section#cases {
  .case {
    @include spaceAround;

    div {
      width: 50%;
      height: 90%;
    }

    .window {
      background: white;
      width: 50%;
      height: 100%;
    }
  }

  h1 {
    text-align: center;
    font: bold 3em $mainFont;
    margin-bottom: 50px;
  }

  h2 {
    font: normal 2.6em $mainFont;
  }

  button {
    @include primaryButton;
  }
}

// Top Section
section#top {
  background: $dark;
  color: white;

  width: 100%;
  height: 700px;

  > div {
    @include spaceAround;

    height: 400px;
  }

  h1 {
    font: 900 3em $mainFont;
  }

  button {
    background: $secondary;

    width: 100px;
    height: 100px;
    margin: 0px 10px;
    border: none;
    outline: none;

    &:nth-child(1) {
      border-radius: 50%;
    }

    &:nth-child(2) {
      border-radius: 10px;
    }

    &:nth-child(3) {
      border-radius: 10px;
    }

    &:nth-child(4) {
      border-radius: 10px;
    }
  }
}


// Join Section
section#join {
  margin-bottom: 350px;
  text-align: center;

  h1 {
    font: bold 3em $mainFont;
  }

  button {
    @include primaryButton;
  }
}