// Main Settings
main {
  width: 100%;
  
  > div {
    @include verticalFlex;
    justify-content: none;
  }

  section {
    width: 80%;
    margin: 100px 0px;
  }
}

// Intro Section
section#intro {
  @include spaceAround;

  div.imgDiv {
    width: 100%;
    height: 100%;
    border: 5px solid $dark;
    border-radius: 10px;
  }
}

// Showcase Settings
section#showcase {
  height: 700px;

  .window {
    width: 100px;
    height: 100px;
    @include window;
  }
}

// About Section
section#about {
  text-align: center;

  > div {
    @include spaceAround;

    h2 {
      font-weight: normal;
      font-size: 2em;
      margin: 0px;

      span {
        font: 900 3em sans-serif;
      }
    }
  }

  h1 {
    font-size: 3em;
    margin: 40px 0px;
  }
}

// Pals Section
section#pals {
  background: $dark;
  color: white;

  width: 100%;
  height: 600px;
  margin: 0;

  text-align: center;
  
  @include verticalFlex;
  position: relative;

  > div {
    height: 70%;
    @include verticalFlex;
  }

  h1 {
    font: 900 3em $mainFont;
    color: $secondary;
  }

  h2 {
    color: $secondary;
    font: 900 2em $mainFont;

    span {
      font: normal .6em $mainFont;
    }
  }

  p {
    width: 60%;
  }

  .palsComp {
    background: $secondary;
    box-shadow: 0px 10px black;

    width: 80%;
    height: 100px;
    border: 3px solid black;
    border-radius: 20px;

    position: absolute;
    top: 90%;
  }
}

// Services Section
section#services {
  > div {
    @include spaceAround;
  }

  .services {
    box-shadow: -10px 10px black;

    width: 400px;
    height: 600px;
    padding: 20px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 20px;

    @include verticalFlex;

    button {
      border-radius: 20px;
      width: 90%;
    }
  }

  .services:nth-child(2) {
    .primary {
      background: $third;
    }
  }

  .services:nth-child(3) {
    .primary {
      background: $fourth;
    }
  }

  h1 {
    font: 900 3em sans-serif;
    text-align: center;
    margin-bottom: 50px;
  }
}

// Reach Settings
section#reach {
  height: 900px;

  @include spaceAround;

  .ceo {
    background: white;

    width: 500px;
    height: 150px;
    border: 5px solid black;
    border-radius: 20px;
    transform: perspective(10px) rotateX(1deg);
  }

  .earth {
    background: $third;

    width: 400px;
    height: 400px;
    border: 10px solid black;
    border-radius: 50%;
  }
}

// Improve Settings
section#improve {
  background: $third;
  width: 100%;
  height: 800px;
  margin: 0px;

  @include center;

  h1,
  h2 {
    font: 900 3em $mainFont;
    text-align: center;
  }

  > div {
    width: 70%;
    height: 80%;

    @include grid(3, 2);

    div {
      box-shadow: -10px 10px $dark;

      padding: 20px;
      border: 4px solid $dark;
      border-radius: 20px;
      margin: 20px;
    }

    > div:nth-child(1) {
      background: $fifth;
      grid-row: 1 / span 2;
    }

    > div:nth-child(2) {
      background: $primary;
      grid-column: 2 / span 3;
    }

    > div:nth-child(3) {
      background: $fourth;
    }

    > div:nth-child(4) {
      background: $fifth;

      @include grid(2, 2);
    }
  }
}