// @font-face {
//   font-family: "Inter";
//   src: url("../../fonts/Inter-VariableFont_slnt\,wght.ttf");
// }

// Colors
$primary: #EBBAB9;
$secondary: #EF6F6C;
$third: #5AD2F4;
$fourth: #7FB685;
$fifth: #F9C976;
$dark: #071108;

// Fonts
$mainFont: system-ui, sans-serif;