// Intro Section
section#introAbout {
  background: url("../videos/marknowVideo.gif") no-repeat;
  background-size: cover;
  color: white;

  width: 100%;
  height: calc(100vh - 85px);
  margin: 0;

  text-align: center;
  
  > div {
    width: 100%;
    
    @include center;
    
    div {
      width: 85%;

      @include verticalFlex;
    }
  }

  h1 {
    width: 115%;
    font: 900 7em $mainFont;
    filter: drop-shadow(1px 1px 3px black);
    z-index: 1;
  }
  
  p {
    width: 80%;
    filter: drop-shadow(1px 1px 3px black);
  }
}

// Cases Section
section#cases {
  width: 90%;

  > div {
    width: 100%;
  }

  .case {
    height: 500px;
    @include spaceAround;

    div {
      width: 40%;
    }

    .window {
      background: white;
      width: 100%;
      height: 350px;
      position: relative;

      @include window;

      div {
        width: 100%;
        height: calc(100% - 40px);
        @include center;
      }

      .bar {
        background: $third;
        width: 100%;
        height: 40px;
      }
    }
  }

  h1 {
    text-align: center;
    font: bold 3em $mainFont;
    margin-bottom: 50px;
  }

  h2 {
    font: normal 2.6em $mainFont;
  }

  button {
    @include primaryButton(false);
  }
}

// Top Section
section#top {
  background: $dark;
  color: white;

  width: 100%;
  padding: 30px 0px;
  margin: 0;

  > div {
    height: 100%;

    @include verticalFlex;
  }
  
  .profCont {
    width: 400%;
    position: relative;
    left: 150%;

    @include spaceEvenly;
    gap: 0;
  }

  .profInfo {
    width: 90%;
    height: 600px;

    @include spaceAround;

    div {
      width: 50%;
      height: 400px;
    }

    .profDesc {
      @include verticalFlex;
      
      .buttonDiv {
        width: 100%;

        @include center;
      }
    }
    
    .imgProf {
      width: 550px;
      height: 550px;
      border: 15px solid $secondary;
      border-radius: 50%;

      transition-property: border;
      transition-duration: 2.5s;
      transition-timing-function: ease;
    }

    button {
      cursor: pointer;
    }

    &:nth-child(1) {
      img {
        border-radius: 50%;
      }
    }
    &:nth-child(2) {
      img {
        border-radius: 5px;
      }
    }
    &:nth-child(3) {
      img {
        clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
      }
    }
    &:nth-child(4) {
      img {
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
      }
    }
  }

  .arrowsNav {
    position: absolute;
    font-size: 3em;
    cursor: pointer;
    z-index: 1;

    &:nth-child(1) {
      left: 5%;
    }

    &:nth-child(2) {
      left: 95%;
    }
  }

  h1 {
    text-align: center;
    font: 900 3em $mainFont;
    color: $secondary;
  }

  button {
    width: 100px;
    height: 100px;
    margin: 0px 10px;
    border: none;
    outline: none;
    
    &:nth-child(1) {
      background: $secondary;
      border-radius: 50%;
    }
    
    &:nth-child(2) {
      background: $third;
      border-radius: 3px;
    }
    
    &:nth-child(3) {
      background: $fourth;
      clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    }
    
    &:nth-child(4) {
      background: $fifth;
      clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }
  }
}


// Join Section
section#join {
  margin-bottom: 350px;
  text-align: center;

  h1 {
    font: bold 3em $mainFont;
  }

  p {
    text-align: center;
    width: 55%;
    margin: 25px 0px;
  }

  > div div {
    @include center;
    
    button {
      width: 50%;
      @include primaryButton(false);
    }
  }
}