footer {
  background: $dark;
  color: white;

  width: 100%;
  height: 420px;
  padding: 30px;

  position: relative;
  bottom: 0;
  margin-top: auto;

  @include verticalFlex(space-between);

  > div {
    width: 80%;
    z-index: 1;

    @include spaceBetween;

    div {
      width: 300px;
      height: 100%;
    }
  }
  
  .credit {
    width: 90%;
    border-top: 2px solid white;

    font: bold 1em $mainFont;
    
    position: absolute;
    bottom: 0;
  
    @include spaceBetween;
  }

  ul {
    li {
      display: block;
      font-size: 1.2em;
      margin: 20px;
    }
  }

  a {
    color: white;
    font-weight: bold;
  }
  
  input {
    border: 3px solid black;
    
    &[type="text"] {
      width: calc(100% - 60px);
      box-shadow: -5px 5px black;
    }

    &[type="submit"] {
      background: $secondary;

      width: 40px;
      height: 44px;
      margin-left: 10px;
      border-radius: 50%;

      line-height: 100%;
      font: 900 1em $mainFont;
      
      cursor: pointer;
    }
  }

  .waves {
    position: absolute;
    top: -51%;
  }
}