@charset "UTF-8";

header {
  @include center;
  width: 100%;
  height: 270px;
  
  > div {
    @include spaceAround;
    
    background: $third;
    box-shadow: -3px 3px 0px $dark;
    
    width: 90%;
    height: 130px;
    border: 2px solid $dark;
    border-radius: 50px;
  }

  .headerNav {
    display: none;
  }

  h1 {
    font: 900 1.7em $mainFont;
  }
}