@charset "UTF-8";

header {
  background: $third;
  
  width: 100%;
  height: 85px;
  border-bottom: 2px solid $dark;

  @include center;

  > div {
    width: 80%;
    @include spaceBetween;
  }

  h1 {
    font: 900 1.7em $mainFont;
  }
}