// Main Settings
main {
  width: 100%;
  
  > div {
    @include verticalFlex;
    justify-content: none;
  }

  section {
    width: 80%;
    margin: 100px 0px;
  }
}

// Intro Section
section#intro {
  height: calc(100vh - 85px);
  margin: 0;

  @include spaceAround;

  h1 {
    font: bold 3em $mainFont;
  }

  picture, img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .introInfo {
    width: 100%;
    height: auto;

    div {
      display: flex;
      justify-content: flex-start;
    }
  }

  .imgDiv {
    width: 100%;
    height: auto;
    border: 5px solid $dark;
    border-radius: 10px;
  }

  button.primary {
    @include primaryButton;
  }
}

// Showcase Settings
section#showcase {
  position: relative;
  height: 500px;

  @include center;

  .window {
    width: 200px;
    height: 200px;
    position: relative;

    @include window;
    
    .bar {
      background: $third;

      height: 45px;
      padding: 0px 20px;
      
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    .content {
      height: calc(100% - 45px);
      @include center;
    }

    &.big {
      width: 500px;
      height: 300px;
    }

    &.small1 {
      position: absolute;
      top: 55%;
      left: -30%;
      
      .bar {
        background: $fifth;
      }
      
      picture {
        width: 40%;
      }
    }
    
    &.small2 {
      box-shadow: 15px 15px black;
      position: absolute;
      top: 10%;
      left: 75%;

      .bar {
        background: $fourth;
      }

      picture {
        width: 40%;
      }
    }

    picture {
      width: 50%;

      img {
        border-radius: 20px;
      }
    }
  }

  span {
    font: 900 3em $mainFont;

    &:nth-child(odd) {
      position: absolute;
      top: 100%;
      left: -30%;
    }

    &:nth-child(even) {
      text-align: right;
      position: absolute;
      right: -30%;
      bottom: -47%;
    }

    &:nth-child(2) {
      color: transparent;
      -webkit-text-stroke: 2px $dark;
      z-index: 1;
      
    }

    &:nth-child(3) {
      color: transparent;
      -webkit-text-stroke: 2px $dark;
      z-index: 1;
    }
  }
}

// About Section
section#about {
  width: 85%;
  text-align: center;

  > div {
    @include spaceAround;

    div {
      width: 400px;
      height: 400px;
      
      position: relative;
      
      @include center;

      &:nth-child(1) {
        background: $secondary;
        border: 5px solid $dark;
        border-radius: 50%;
      }
      
      &:nth-child(2) {
        background: $third;
        border: 5px solid $dark;
        border-radius: 20px;
      }
      
      &:nth-child(3) {
        background: $dark;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        
        &::before {
          content: '';
          background: $fourth;
          width: 390px;
          height: 390px;

          position: absolute;
          z-index: -1;
          
          clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        }
      }
    }

    h2 {
      font-weight: normal;
      font-size: 2em;
      margin: 0px;

      span {
        font: 900 3em sans-serif;
      }
    }
  }

  h1 {
    font: normal 3em sans-serif;
    margin: 50px 0px 70px 0px;
  }
}

// Pals Section
section#pals {
  background: $dark;
  color: white;

  width: 100%;
  height: 1050px;
  margin: 0;

  text-align: center;
  
  position: relative;

  @include verticalFlex;

  .msg {
    width: 400%;
    position: relative;
    left: 0;

    transition-property: left, background, color;
    transition-duration: .5s;
    transition-timing-function: ease;
    
    @include spaceEvenly;
    gap: 0;

    .palsInfo {
      width: 100vw;
      @include verticalFlex;
    }
  }

  > div {
    width: 100vw;
    height: 70%;

    @include spaceEvenly;
  }
  
  .arrowsNav {
    position: absolute;
    font-size: 3em;
    cursor: pointer;
    z-index: 1;

    &:nth-child(1) {
      left: 5%;
    }

    &:nth-child(2) {
      left: 85%;
    }
  }

  h1 {
    font: 900 3.4em $mainFont;
    color: $secondary;

    position: absolute;
    top: 10%;
  }

  h2 {
    color: $secondary;
    font: 900 2em $mainFont;
    text-transform: uppercase;

    span {
      font: normal .6em $mainFont;
    }
  }

  p {
    width: 50%;
  }

  .palsComp {
    background: $secondary;
    box-shadow: 0px 10px black;

    width: 80%;
    height: 120px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
    
    position: absolute;
    top: 90%;

    > div {
      height: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      
      picture,
      img {
        @include center;
      }
    }
    
    .palsCont {
      box-shadow: -3px 3px 0px $dark;
      border: 3px solid black;
      border-radius: 10px;
      transition: all 1s linear;
    }
  }
}

// Services Section
section#services {
  width: 83%;

  > div {

    @include spaceAround;
  }

  .services {
    background: #ffdada;
    box-shadow: -10px 10px black;

    width: 400px;
    height: 600px;
    padding: 20px;
    margin: 10px 0px;
    border: 3px solid black;
    border-radius: 20px;

    @include verticalFlex;

    button {
      border-radius: 20px;
      width: 90%;
    }
  }

  .services:nth-child(2) {
    .primary {
      background: $third;
    }
  }

  .services:nth-child(3) {
    .primary {
      background: $fourth;
    }
  }

  h1 {
    font: 900 3em sans-serif;
    text-align: center;
    margin-bottom: 50px;
  }

  .primary {
    @include primaryButton;
  }
}

// Reach Settings
section#reach {
  width: 100%;
  height: 1000px;
  margin: 0;
  position: relative;

  canvas {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 50px 2px #020307; 
  }
}

// Improve Settings
section#improve {
  background: $third;

  width: 100%;
  height: 1700px;
  padding-top: 200px;
  margin: 0px;

  position: relative;

  @include center;
  align-items: start;

  h1,
  h2 {
    font: 900 3em $mainFont;
    text-align: center;
  }

  > div {
    width: 90%;
    height: 60%;

    @include grid(3, 2);

    div {
      box-shadow: -10px 10px $dark;

      padding: 20px;
      border: 4px solid $dark;
      border-radius: 20px;
      margin: 20px;
    }

    > div:nth-child(1) {
      background: $fifth;

      @include verticalFlex;
      
      h1 {
        font-size: 4em;
        width: 100%;
      }
    }

    > div:nth-child(2) {
      background: $primary;

      @include verticalFlex;

      button {
        width: 100%;
      }
    }

    > div:nth-child(3) {
      background: $fourth;
    }

    > div:nth-child(4) {
      background: $fifth;

      @include grid(1, 1);
    }
  }

  .waves {
    position: absolute;
    top: -13.5%;
  }

  .primary {
    @include primaryButton(true);
  }
}

// Media Settings
.servDiv {
  width: 100%;
  height: 100%;
  border: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  pointer-events: none;
}