@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// Colors
$primary: #EBBAB9;
$secondary: #EF6F6C;
$third: #5AD2F4;
$fourth: #7FB685;
$fifth: #F9C976;
$dark: #071108;

// Fonts
$mainFont: "Inter", sans-serif;