@charset "UTF-8";

/* Imports */



/* General Settings */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --bg: white;
  --bg2: rgb(44, 44, 44);
  --bg3: black;

  --shadow: rgba(0, 0, 0, 0.341);
}

html, body {
  width: 100vw;
  height: 100vh;

  scroll-behavior: smooth;

  overflow-x: clip;
}

div#ui {
  background: var(--bg);

  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

/* CSS Models */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnsSect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Text Settings */
h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
  line-height: 2em;
  margin: 16px 0px;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;

  transition: color .5s ease;
}

a:hover {
  color: var(--bg2);
}

button {
  background: blue;

  border: none;
  border-radius: 20px;
  outline: none;
}

button a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* Media Settings */
figure {
  width: 100%;
  height: 100%;
}

figure img {
  width: 100%;
}

/* Header Settings */
header {
  width: 100%;
  height: 80px;

  position: fixed;
  top: 0;
  z-index: 1;

  transition: all .5s ease-in-out;
}

.scrolled {
  background: white;
  box-shadow: 0px 0px 15px var(--shadow);
}

header a {
  color: white;
}

.scrolled a {
  color: black;
}

header > div {
  width: 90%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

header li {
  display: inline-block;
  margin: 10px;
}

/* Main Settings */
main {
  background: var(--bg);

  width: 100%;
}

/* Intro Section */
section#intro {
  color: white;

  display: flex;
  align-items: center;

  position: relative;
}

div.bg {
  background: url('../img/table-camera.jpg') no-repeat center;
  background-size: cover;

  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#introImg img {
  background: white;
  width: auto;
  padding: 20px 20px 75px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.481);

  transform: rotate(15deg);
  z-index: -1;
}

#introImg figcaption {
  font-size: 2em;
  margin-left: 20px;
  position: absolute;
  top: 89%;

  transform: rotate(15deg);
}

/* About Section */
section#about {
  padding: 100px 0px;
  flex: auto;
}

.aboutImgCont {
  display: flex;
  position: relative;
}

.aboutImg {
  background: rgba(0, 0, 0, 0.14);

  width: 230px;
  height: 300px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.aboutImg:nth-child(1) {
  position: absolute;
  transition: all .5s ease-in;
}

.aboutImg:nth-child(1):hover {
  position: absolute;
  left: 40%;
  transform: rotate(-35deg);
}

.aboutImg:nth-child(2) {
  position: absolute;
  transition: all .5s ease-in;
}

.aboutImg:nth-child(2):hover {
  position: absolute;
  left: 50%;
  /* transform: rotate(5deg); */
}

.aboutImg:nth-child(3) {
  position: absolute;
  transition: all .5s ease-in;
}

.aboutImg:nth-child(3):hover {
  position: absolute;
  left: 55%; 
  transform: rotate(35deg);
}

/* Camera Section */
section#camera {
  background: black;

  width: 100%;
  height: 700px;
  border-radius: 20px;
}

/* Feelings Section */
section#feelings {
  position: relative;
}

div.projTypes {
  padding: 50px;
  margin: 20px;
  border-radius: 15px;

  box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.2),
              inset -5px -5px 15px rgb(250, 250, 250);

  display: grid;
  grid-template-columns: repeat(5, 250px);
  gap: 30px;

  overflow-x: auto;
  overflow-y: hidden;
}

div.projTypes > div {
  padding: 20px;
  border-radius: 20px;

  display: inline-block;
  box-shadow: 0px 0px 15px var(--shadow);
}

div.projTypes::before {
  background: white;
  box-shadow: 0px 0px 15px var(--shadow);
  
  content: '<';
  width: 50px;
  height: 50px;
  border-radius: 50%;

  font-size: 3em;

  position: absolute;
  top: 50%;
  left: -1%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

div.projTypes::after {
  background: white;
  box-shadow: 0px 0px 15px var(--shadow);
  
  content: '>';
  width: 50px;
  height: 50px;
  border-radius: 50%;

  font-size: 3em;

  position: absolute;
  top: 50%;
  left: 96%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

div.projTypes img {
  /* height: 90%; */
  border-radius: 10px;
}

/* Projects Section */
section#works > div.cont {
  width: 80%;
  margin-bottom: 50px;
}

div.grid > div {
  padding: 20px;
  border: 2px solid black;
}


/* Footer Settings */
footer {
  background: gray;

  width: 100%;

  position: relative;
  bottom: 0;
  margin-top: auto;
}

footer li {
  display: inline-block;
  margin: 10px;
}

footer img {
  display: inline-block;
  width: 50px;
  height: 50px;
}

div.footerNav {
  padding: 50px;
}

div#credits {
  background: black;
  color: white;

  padding: 20px;

  display: flex;
  justify-content: space-around;
}

