@media screen and (min-width: 1200px) {
  // Header Settings
  header {
    height: 120px;

    > div {
      height: 85px;
    }

    .headerNav {
      display: block;
    }
  }
  
  // Intro Section
  section#intro {
    height: calc(100vh - 85px);
    margin: 0;

    h1 {
      font: bold 3em $mainFont;
    }

    .introInfo {
      width: 50%;
      height: auto;
    }

    .imgDiv {
      width: 40%;
      height: auto;
      border: 5px solid $dark;
      border-radius: 10px;
    }
  }

  // Showcase Settings
  section#showcase {
    height: auto;

    .window {
      width: 500px;
      height: 300px;
      position: relative;

      @include window;
      
      .bar {
        background: $third;

        height: 45px;
        padding: 0px 20px;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      
      .content {
        height: calc(100% - 45px);
        @include center;
      }

      &.big {
        width: 700px;
        height: 500px;
      }

      &.small1 {
        position: absolute;
        top: 65%;
        left: -15%;
        
        .bar {
          background: $fifth;
        }
        
        picture {
          width: 40%;
        }
      }
      
      &.small2 {
        box-shadow: 15px 15px black;
        position: absolute;
        top: -15%;
        left: 75%;

        .bar {
          background: $fourth;
        }

        picture {
          width: 40%;
        }
      }

      picture {
        width: 50%;

        img {
          border-radius: 20px;
        }
      }
    }

    span {
      font: 900 5em $mainFont;

      &:nth-child(odd) {
        position: absolute;
        top: 0;
        left: -10%;
      }

      &:nth-child(even) {
        text-align: right;
        position: absolute;
        right: -10%;
        bottom: 5%;
      }

      &:nth-child(2) {
        color: transparent;
        -webkit-text-stroke: 2px $dark;
        z-index: 1;
        
      }

      &:nth-child(3) {
        color: transparent;
        -webkit-text-stroke: 2px $dark;
        z-index: 1;
      }
    }

    .mouse {
      background: blue;

      width: 100px;
      height: 100px;
      border: 5px solid black;

      position: absolute;
    }
  }

  // Pals Section
  section#pals {
    height: 600px;
    
    .arrowsNav {
      position: absolute;
      font-size: 3em;
      cursor: pointer;
      z-index: 1;

      &:nth-child(1) {
        left: 10%;
      }

      &:nth-child(2) {
        left: 90%;
      }
    }
  }

  // Improve Settings
  section#improve {
    width: 100%;
    height: 1100px;
    padding-top: 0;
    margin: 0px;

    position: relative;

    @include center;

    h1,
    h2 {
      font: 900 3em $mainFont;
      text-align: center;
    }

    > div {
      width: 70%;
      height: 60%;

      @include grid(3, 2);

      div {
        box-shadow: -10px 10px $dark;

        padding: 20px;
        border: 4px solid $dark;
        border-radius: 20px;
        margin: 20px;
      }

      > div:nth-child(1) {
        background: $fifth;
        grid-row: 1 / span 2;

        @include verticalFlex;
        
        h1 {
          font-size: 4em;
          transform: rotate(-90deg);
          width: 100%;
        }
      }

      > div:nth-child(2) {
        background: $primary;
        grid-column: 2 / span 3;

        @include verticalFlex;

        button {
          width: 100%;
        }
      }

      > div:nth-child(3) {
        background: $fourth;
      }

      > div:nth-child(4) {
        background: $fifth;

        @include grid(2, 2);
      }
    }

    .waves {
      position: absolute;
      top: -19.5%;
    }

    .primary {
      @include primaryButton(true);
    }
  }

  footer {
    height: 420px;

    position: relative;
    bottom: 0;
    margin-top: auto;

    @include verticalFlex(space-between);

    > div {
      width: 80%;
      z-index: 1;

      @include spaceBetween;

      div {
        width: 300px;
        height: 100%;
      }
    }
    
    .credit {
      width: 90%;
    
      @include spaceBetween;
    }
    
    .waves {
      position: absolute;
      top: -51%;
    }
  }
}