@charset "UTF-8";


/* General Settings */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --bg: rgb(131, 29, 153);
  --bg2: rgb(188, 54, 218);
  --bg3: rgb(242, 181, 13);
  --bg4: rgb(65, 0, 98);

  --shadow: rgba(0, 0, 0, 0.295);
}

html, body {
  width: 100vw;
  height: 100vh;

  scroll-behavior: smooth;

  overflow-x: clip;
}

div#ui {
  background: var(--bg);
  color: wheat;

  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

/* Code models */
.columnsSect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
}

.columnsSect > div {
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text Settings */
h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
  line-height: 2em;
  margin: 16px 0px;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;

  transition: color .5s ease;
}

a:hover {
  color: var(--bg3);
}

/* Header Settings */
header {
  background: var(--bg4);

  width: 100%;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 1;
}

header > div {
  width: 90%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

header li {
  display: inline-block;
  margin: 10px;
}

/* Main Settings */
main {
  background: var(--bg);

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px;

  display: flex;
  justify-content: center;
}

section > div.cont {
  width: 80%;
}

/* Intro Section */
section#intro {
  height: 100vh;

  font: bold 5em Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

section#intro::after {
  content: '';
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.152),
    transparent
  );

  pointer-events: none;
}

section#intro iframe {
  width: 100%;
  height: 100%;

  pointer-events: none;
  
  position: absolute;
  top: 0;
  left: 0;
}

/* About Section */
section#about {
  background: var(--bg2);

  width: 100%;
  height: 100vh;
}

/* Products Section */
section#products {
  width: 100%;
  height: 700px;
}

div.prodGrid {
  margin: 30px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

div.prodGrid > div {
  padding: 20px;
  border: 3px solid var(--bg3);
  border-radius: 20px;

  position: relative;

  transition: all .5s ease;
}

div.prodGrid > div:hover {
  bottom: 8%;
  box-shadow: 0px 15px 0px var(--bg3);
}

div.prodGrid .prodImg {
  background: white;

  height: 40px;
  border-radius: 20px;
}

/* Contact Section */


/* Footer Settings */
footer {
  background: var(--bg2);

  position: relative;
  bottom: 0;
  margin-top: auto;
}

footer li {
  display: inline-block;
}

footer img {
  width: 50px;
  height: 50px;

  margin: 10px;

}

div#footerCont {
  height: 500px;
}

div#credits {
  background: var(--bg4);
  display: flex;
  justify-content: space-around;
}

/* Message Me */
div.msg-me {
  background: var(--bg3);

  padding: 15px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px var(--shadow);

  position: fixed;
  top: 85%;
  left: 90%;

  transition: all .5s ease;
}

div.msg-me:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px 2px var(--shadow);
}

div.msg-me img {
  width: 50px;
  height: 50px;
}