@charset "UTF-8";

/* Imports */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* General Settings */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

html, body {
  max-width: 100%;
  overflow-x: clip;
}

/* Variables */
:root {
  --bg: #EBBAB9;
  --bg2: #071108;

  --prim: #EF6F6C;
  --sec: #5AD2F4;
  --third: #7FB685;

  --fourth: #F9C976;

  --regular: inter, sans-serif;
}

/* CSS UI Lib */
.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-columns {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.two-columns > div.txt-cont {
  width: 60%;
}

.two-columns .img-div {
  width: 60%;
  border: 5px solid black;
  border-radius: 10px;
}

.prim-button {
  background: var(--prim);
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0px 7px 0px black;
  transition: box-shadow .5s ease;
}

.prim-button:hover {
  box-shadow: 0px 0px black;
}

.sec-button {
  background: transparent;
  border: none;
}

.window {
  background: white;
  border: 2px solid var(--bg2);
  box-shadow: 10px 10px 0px black;
}

.bar-window {
  background: var(--sec);

  height: 50px;
  border-bottom: 2px solid var(--bg2);
}

.block3d {
  border: 5px solid var(--bg2);
  border-radius: 20px;
  box-shadow: -5px 5px 0px 5px var(--bg2);
}

/* Text Settings */

p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 1em 0px;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

button {
  margin: 20px;
}

button a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;

  font-weight: bolder;
}

.center {
  text-align: center;
}

.big {
  font-size: 1.6em;
}

.title {
  font-size: 2.5em;
}

.giant {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 900;
}

.bolder {
  font-weight: 900;
}

/* Block Settings */

/* UI */
#ui {
  background: var(--bg);

  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;

  position: relative;
}

/* Header */
header {
  background: var(--sec);

  padding: 20px 70px;
  border-bottom: 2px solid black;

  text-transform: uppercase;
}

header > div {
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main */
main > div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

main section {
  width: 100%;
  grid-column: 2 / span 10;

  display: flex;
  align-items: center;
}

.cont {
  z-index: 1;
}

/* Intro Section */
section#intro {
  height: 500px;
}

section#intro div.cont {
  display: flex;
  align-items: center;
}

/* About Section */
section#about {
  height: auto;
  margin: 100px 0px;

  grid-column: 1 / span 12;

  position: relative;
}

section#about span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 5%;
}

section#about span:nth-child(2) {
  text-align: right;
  position: absolute;
  top: 40%;
  left: 50%;
}

section#about > div {
  width: 700px;
  height: 500px;
}

section#about::before {
  content: '';
  background: white;
  width: 300px;
  height: 175px;
  border: 2px solid black;
  box-shadow: 10px 10px black;

  position: absolute;
  top: 5%;
  left: 5%;
}

section#about::after {
  content: '';
  background: white;
  width: 300px;
  height: 175px;
  border: 2px solid black;
  box-shadow: 10px 10px black;

  position: absolute;
  top: 75%;
  left: 75%;
}

/* Numbers Section */
section#numbers {
  height: 500px;

  display: block;
  text-align: center;
}

section#numbers h1, h2 {
  margin: 50px 0px;
}

/* Pals section */
section#pals {
  background: var(--bg2);
  color: var(--bg);

  height: 500px;
  padding: 50px;

  grid-column: 1 / span 12;

  display: block;
}

/* Job Section */
section#job {
  padding: 50px 0px;
  margin: 50px 0px;

  text-align: left;

  grid-column: 2 / span 10;
}

section#job .two-columns {
  flex: auto;
  
}

section#job .block3d {
  width: 400px;
  height: 550px;
  padding: 20px;
  margin: 20px 0px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* Reach Section */
section#reach {
  height: 1000px;
}

section#reach .cont {
  height: 100%;

  display: flex;
  align-items: center;
}

.ceo {
  background: #FEF1F1;

  width: 50%;
  height: 90px;
  border: 5px solid var(--bg2);
  border-radius: 35px;

  transform: perspective(10px) rotateX(1deg);
}

.ball {
  background: var(--sec);

  width: 400px;
  height: 400px;
  border: 5px solid var(--bg2);
  border-radius: 50%;
}

.ball::before {
  content: 'LOREM IPSULUM DOLOR';
  font: bolder 3em var(--regular);
}

/* Feats Section */
section#feats {
  background: var(--sec);

  width: 100%;
  height: 1000px;

  display: grid;
  grid-column: 1 / span 12;

  position: relative;
}

.sect-transit img:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 380px;
  top: -19%;
  left: 0;
}

.sect-transit img:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 550px;
  top: 72.5%;
  left: 0;
}

section#feats .cont {
  height: 90%;

  grid-column: 2 / span 9;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 30px;
}

section#feats .cont > div {
  background: var(--fourth);
}

section#feats .cont > div:nth-child(1) {
  grid-area: 1 / 1 / span 9 / span 2;
}

section#feats .cont > div:nth-child(2) {
  background: var(--third);
  grid-area: 1 / 3 / span 4 / span 6;
}

section#feats .cont > div:nth-child(3) {
  background: var(--third);
  grid-area: 5 / 3 / span 5 / span 3;
}

section#feats .cont > div:nth-child(4) {
  grid-area: 5 / 6 / span 5 / span 3;
}

/* About Page */
section#top {
  background: var(--bg2);
  color: var(--bg);

  height: 500px;

  grid-column: 1 / span 12;
}

section#top .cont {
  height: 100%;
  padding: 50px;
}

.cont > div {
  /* height: 100%; */
}

.img-prof {
  width: 100%;
  height: 100%;
  border: 5px solid red;
  border-radius: 50%;
}

/* Contact Style Sheets */
section#form {
  grid-column: 2 / span 10;
}

section#form > div {
  background: white;

  border: 5px solid black;
  border-radius: 20px;
  box-shadow: -10px 10px black;

  grid-column: 2 / span 9;
}

fieldset {
  width: 100%;
  height: 100%;
  padding: 50px;
  border: none;
}

legend {
  display: none ;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 15px 0px;
  border: 3px solid black;
  border-radius: 50px;
}

textarea {
  border-radius: 20px;
}

/* Footer */
footer {
  background: var(--bg2);
  color: var(--bg);

  height: 700px;
  text-align: center;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  margin-top: auto;
}

footer a {
  color: var(--bg);
  font-weight: bolder;
}

footer li {
  display: block;
  font-size: 1.6em;
  margin: 20px;
}

footer .cont {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

footer .cont h1 {
  height: 90px;
  padding: 50px;
}

#credits {
  width: 80%;

  position: absolute;
  bottom: 0;
  margin-top: auto;
}

#credits > div {
  padding: 30px 0px;
  border-top: 5px solid var(--bg);
}