@charset "UTF-8";

/* Imports */


/* General Settings */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Variables */
:root {
  --bg: #EBBAB9;
  --bg2: #071108;

  --prim: #EF6F6C;
  --sec: #5AD2F4;
  --third: #7FB685;

  --fourth: #F9C976;
}

/* CSS UI Lib */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-columns {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  justify-content: space-between;
}

.prim-button {
  background: var(--prim);
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0px 7px 0px black;
  transition: box-shadow .5s ease;
}

.prim-button:hover {
  box-shadow: 0px 0px black;
}

.sec-button {
  background: transparent;
  border: none;
}

.window {
  background: white;
  border: 2px solid var(--bg2);
  box-shadow: 10px 10px 0px black;
}

.bar-window {
  background: var(--sec);

  height: 50px;
  border-bottom: 2px solid var(--bg2);
}

/* Text Settings */
a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

button {
  margin: 20px;
}

button a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;

  font-weight: bolder;
}

.big {
  font-size: 1.6em;
}

.giant {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 900;
}

/* Block Settings */


/* UI */
#ui {
  background: var(--bg);

  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;

  position: relative;
}

/* Header */
header {
  background: var(--sec);

  padding: 20px 70px;
  border-bottom: 2px solid black;
}

header > div {
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main */
main > div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

main section {
  width: 100%;
  height: 900px;
  grid-column: 2 / span 9;
}

/* Intro Section */
section#intro div.cont {
  height: 400px;
  display: flex;
  align-items: center;
}

/* About Section */
section#about {
  height: auto;
  margin: 100px 0px;

  grid-column: 1 / span 12;

  position: relative;
}

section#about span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 5%;
}

section#about span:nth-child(2) {
  text-align: right;
  position: absolute;
  top: 40%;
  left: 50%;
}

section#about > div {
  width: 700px;
  height: 500px;
}

section#about::before {
  content: '';
  background: white;
  width: 300px;
  height: 175px;
  border: 2px solid black;
  box-shadow: 10px 10px black;

  position: absolute;
  top: 5%;
  left: 1%;
}

section#about::after {
  content: '';
  background: white;
  width: 300px;
  height: 175px;
  border: 2px solid black;
  box-shadow: 10px 10px black;

  position: absolute;
  top: 75%;
  left: 75%;
}

/* Pals section */
section#pals {
  background: var(--bg2);
  color: var(--bg);

  grid-column: 1 / span 12;
}

/* Contact Style Sheets */
section#form {
  grid-column: 2 / span 10;
}

section#form > div {
  background: white;

  border: 5px solid black;
  border-radius: 20px;
  box-shadow: -10px 10px black;

  grid-column: 2 / span 9;
}

fieldset {
  width: 100%;
  height: 100%;
  padding: 50px;
  border: none;
}

legend {
  display: none ;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 15px 0px;
  border: 3px solid black;
  border-radius: 50px;
}

textarea {
  border-radius: 20px;
}

/* Footer */
footer {
  background: var(--bg2);
  color: var(--bg);

  height: 500px;
  text-align: center;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  margin-top: auto;
}

footer a {
  color: var(--bg);
}

footer ul {
  height: 90px;
}

footer li {
  display: block;
}

footer .cont {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

footer .two-columns {
  height: auto;
}

#credits {
  width: 100%;
  padding: 30px 100px;
  border-top: 2px solid var(--bg);

  position: absolute;
  bottom: 0;
  margin-top: auto;
}