@charset "UTF-8";

/* Imports */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* General Settings */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

html, body {
  max-width: 100%;
  overflow-x: clip;

  scroll-behavior: smooth;
}

/* Variables */
:root {
  --bg: #EBBAB9;
  --bg2: #071108;

  --prim: #EF6F6C;
  --sec: #5AD2F4;
  --third: #7FB685;

  --fourth: #F9C976;

  --regular: inter, sans-serif;
}

/* CSS UI Lib */
.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-columns {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.two-columns > div.txt-cont {
  width: 60%;
}

.two-columns .img-div {
  width: 60%;
  height: 100%;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.prim-button {
  background: var(--prim);
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0px 1px 0px black,
              0px 2px 0px black,
              0px 3px 0px black,
              0px 7px 0px black;
  transition: box-shadow .5s ease;
}

.prim-button:hover {
  box-shadow: 0px 0px black;
}

.sec-button {
  background: transparent;
  border: none;
}

.window {
  background: white;
  border: 2px solid var(--bg2);
  box-shadow: 10px 10px 0px black;
  z-index: 0;
}

.bar-window {
  background: var(--sec);

  height: 10%;
  border-bottom: 2px solid var(--bg2);
}

.block3d {
  border: 5px solid var(--bg2);
  border-radius: 20px;
  box-shadow: -10px 10px 0px 1px var(--bg2);
}

/* Text Settings */
p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 1em 0px;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

button {
  margin: 20px;
}

button a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;

  font-weight: bolder;
}

.center {
  text-align: center;
}

.little {
  font-size: .7em;
}

.big {
  font-size: 1.6em;
}

.title {
  font-size: 2.5em;
}

.giant {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 900;
}

.bolder {
  font-weight: 900;
}

/* Block Settings */


/* Media Settings */
iframe { 
  width: 100%;
  height: 100%;
}

figcaption {
  display: none;
}

/* UI */
#ui {
  background: var(--bg);

  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;

  position: relative;
}

/* Header */
header {
  background: var(--sec);

  padding: 20px 70px;
  border-bottom: 2px solid black;

  text-transform: uppercase;
}

header > div {
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main */
main > div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

main section {
  width: 100%;
  grid-column: 2 / span 10;

  display: flex;
  align-items: center;
}

.cont {
  z-index: 1;
}

/* Intro Section */
section#intro {
  height: 600px;
}

section#intro div.cont {
  height: 100%;

  display: flex;
  align-items: center;
}

/* About Section */
section#about {
  height: auto;
  margin: 100px 0px;

  grid-column: 1 / span 12;

  position: relative;
}

section#about span:nth-child(odd) {
  position: absolute;
  top: 0;
  left: 2%;
}

section#about span:nth-child(3) {
  z-index: 1;
  color: transparent;
  -webkit-text-stroke: 3px black;
}

section#about span:nth-child(even) {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 55%;
}

section#about span:nth-child(4) {
  z-index: 1;
  color: transparent;
  -webkit-text-stroke: 3px black;
}

section#about > div {
  width: 700px;
  height: 500px;
}

section#about > #small1 {
  background: white;
  width: 400px;
  height: 275px;
  border: 2px solid black;
  box-shadow: 10px 10px black;

  position: absolute;
  top: 55%;
  left: 2%;
}

#small1 .bar-window {
  background: var(--fourth);
}

section#about > #small2 {
  background: white;
  width: 400px;
  height: 275px;
  border: 2px solid black;
  box-shadow: 10px 10px black;

  position: absolute;
  top: -10%;
  left: 70%;
}

#small2 .bar-window {
  background: var(--third);
}

/* Numbers Section */
section#numbers {
  height: 500px;

  display: block;
  text-align: center;
}

section#numbers h1, h2 {
  margin: 50px 0px;
}

/* Pals section */
section#pals {
  background: var(--bg2);
  color: var(--prim);

  height: 600px;
  padding: 50px;

  grid-column: 1 / span 12;

  display: block;
  position: relative;
}

.testimMsgLeft {
  position: relative;
  left: -100%;
  transition: all .5s ease-in-out;
}

.testimMsgRight {
  position: relative;
  left: 100%;
  transition: all .5s ease-in-out;
}

.nav-button {
  position: relative;
}

.nav-button .arrow {
  cursor: pointer;
  transition: all .5s ease;
}

#arrowBack:hover {
  position: absolute;
  left: -10%;
}

#arrowForw:hover {
  position: absolute;
  left: 90%;
}

.testim {
  width: 90%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 70% 1fr;
}

.testim p {
  color: white;
  font-size: 1.35em;
  line-height: 2.2em;
  margin: 40px 20px;
}

.testim span.bolder {
  font-size: 1.2em;
}

.client-grid {
  background: var(--prim);
  color: black;

  padding: 20px 50px;
  border-radius: 15px;
  box-shadow: 0px 7px 0px 5px black;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  /* position: absolute;
  top: 80%; */
}

/* Job Section */
section#job {
  padding: 50px 0px;
  margin: 50px 0px;

  text-align: left;

  grid-column: 2 / span 10;
}

section#job .block3d {
  height: 550px;
  padding: 20px;
  margin: 70px 0px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

section#job .prim-button {
  border-radius: 50px;
}

section#job .block3d:nth-child(2) .prim-button {
  background: var(--sec);
}

section#job .block3d:nth-child(3) .prim-button {
  background: var(--third);
}

/* Services Iframe */
iframe.servTour {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Reach Section */
section#reach {
  height: 1000px;
}

section#reach .cont {
  height: 100%;

  display: flex;
  align-items: center;
}

.ceo {
  background: #FEF1F1;

  width: 50%;
  height: 90px;
  border: 5px solid var(--bg2);
  border-radius: 35px;

  transform: perspective(10px) rotateX(1deg);
}

.ball {
  background: var(--sec);

  width: 400px;
  height: 400px;
  border: 5px solid var(--bg2);
  border-radius: 50%;

  position: relative;
}

.ball .txt {
  position: absolute;
  width: 100%;
  height: 100%;

  animation: rot-txt 10s linear infinite;
}

.txt span {
  position: absolute;
  top: -15%;
  left: 50%;
  transform-origin: 0 250px;
  font-size: 1em;
  font-weight: 900;
}

@keyframes rot-txt {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Feats Section */
section#feats {
  background: var(--sec);

  width: 100%;
  height: 1200px;

  display: grid;
  grid-column: 1 / span 12;

  position: relative;
}

.sect-transit img:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 380px;
  top: -16%;
  left: 0;
}

.sect-transit img:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 550px;
  top: 77%;
  left: 0;
}

section#feats .cont {
  width: 90%;
  height: 750px;

  grid-column: 2 / span 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

section#feats .cont > div {
  background: var(--fourth);
}

section#feats .cont > div:nth-child(1) {
  grid-area: 1 / 1 / span 2 / span 1;
}

section#feats .cont > div:nth-child(2) {
  background: var(--bg);

  padding: 20px 50px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  grid-area: 1 / 2 / span 1 / span 2;
}

section#feats .cont > div:nth-child(3) {
  background: var(--third);

  padding: 20px;

  grid-area: 2 / 2 / span 1 / span 1;
}

section#feats .cont > div:nth-child(4) {
  grid-area: 2 / 3 / span 1 / span 1;

  padding: 30px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* gap: 30px 20px; */
}

/* About Page */
section#top {
  background: var(--bg2);
  color: var(--bg);

  height: 500px;

  grid-column: 1 / span 12;
}

section#top .cont {
  height: 100%;
  padding: 50px;
}

.img-prof {
  width: 100%;
  height: 100%;
  border: 5px solid red;
  border-radius: 50%;
}

/* Contact Style Sheets */
section#form {
  grid-column: 2 / span 10;
}

section#form > div {
  background: white;

  border: 5px solid black;
  border-radius: 20px;
  box-shadow: -10px 10px black;

  grid-column: 2 / span 9;
}

fieldset {
  width: 100%;
  height: 100%;
  padding: 50px;
  border: none;
}

legend {
  display: none ;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 15px 0px;
  border: 3px solid black;
  border-radius: 50px;
}

textarea {
  border-radius: 20px;
}

/* Footer */
footer {
  background: var(--bg2);
  color: var(--bg);

  height: 700px;
  text-align: center;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  margin-top: auto;
}

footer a {
  color: var(--bg);
  font-weight: bolder;
}

footer li {
  display: block;
  font-size: 1.6em;
  margin: 20px;
}

footer .cont {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

footer .cont h1 {
  height: 90px;
  padding: 50px;
}

#credits {
  width: 80%;

  position: absolute;
  bottom: 0;
  margin-top: auto;
}

#credits > div {
  padding: 30px 0px;
  border-top: 5px solid var(--bg);
}