@charset "UTF-8";

/* General Settings */
:root {
  --bg: '';
  --bg2: '';
  --bg3: '';
}

/* Header Settings */


/* Main Settings */
main {
  background: var(--bg);

  width: 100%;
}

/* Intro Section */
section#intro {
  display: flex;
  align-items: center;
}

/* Sections */


/* Footer Settings */
